@import '../../themes/default/variables';

.page-login {
  text-align: center;
  //background: url(@image-bg) no-repeat center;
  //background-size: 100% 100%;

  .page-content {
    display: inline-block;
    padding: 1.875rem;
    vertical-align: middle;
  }

  .brand {
    margin-bottom: 1.5rem;

    img{
      height: 6rem;
    }
    &-text {
      font-size: 1.5rem;
      font-weight: normal;
      margin: 1rem;
    }
  }

  //form {
  //  margin: 1.875rem 0;
  //}

  .login-form-forgot {
    float: right;
  }

  .btn-login {
    margin-top: 1rem;
    display: block;
    color: @text-color-light;
    width: 100%;
  }

  .ant-form-item {
    width: 21rem;
    margin-bottom: 0.5rem;
  }
}
