@import "../../themes/style/flex";
@import "../../themes/default/variables";

.normal-layout {
  position: relative;
  width: 100%;
  height: 100vh;

  header {
    .flex-between;
    background: @background-color-light;
    height: 4rem;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: @box-shadow-base;

    img {
      height: 3rem;
      margin: .5rem;
    }
  }

  &-content {
    min-height: calc(100% - 3rem);
    border-bottom: @border;
    background: @background-color-base;
    padding-top: 4rem;
  }

  footer {
    .copyright, .copyright a {
      text-align: center;
      font-size: .75rem;
      color: @text-color-secondary;
      height: 3rem;
      line-height: 3rem;
    }
  }
}
