@import "../../themes/default/variables";
@import "../../themes/style/flex";

.header-aside-layout {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: @background-color-base;

  header {
    .flex-between;
    background: @white;
    height: 4rem;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: @box-shadow-base;

    img {
      height: 3rem;
      margin: .5rem;
    }
  }

  .dt-sidebar {
    padding: 1.5rem 0;
  }

  &-content {
    width: 100%;
    display: flex;
    padding-top: 4rem;

    .body {
      width: 100%;
      padding: .625rem .625rem 0 .625rem;
      position: relative;

      &-content {
        background: @background-color-light;
        padding: .625rem;
        min-height: calc(100% - 3rem);
      }

      footer {
        .copyright, .copyright a {
          text-align: center;
          font-size: .75rem;
          color: @text-color-secondary;
          height: 3rem;
          line-height: 3rem;
        }
      }
    }
  }
}
