@import '../../../themes/default/variables';

.register {
  margin: auto;
  width: 500px;
  padding: 40px 20px;

  .form-row {
    padding-top: 1rem;

    .title {
      width: 80px;
      color: @text-color;
      font-size: 1rem;
      margin: 0;
    }
    input {
      flex: 1;
      border: 0;
      background: @background-color-base;
      height: 40px;
      padding: 0 10px;
    }
    .code {
      cursor: pointer;
      background: @text-color;
      height: 40px;
      color: @text-color-secondary-light;
      text-align: center;
      line-height: 40px;
      width: 100px;

      &-59 {
        background-color: @primary-color;
      }
    }
    .code:hover {
      color: @text-color-light;
    }
  }
  .form-hint {
    font-size: .875rem;
    height: 20px;
    line-height: 1rem;
    padding-top: 4px;
    margin-left: 80px;
  }
  .forget {
    text-align: right;
    color: @primary-color;
  }
}
