.ant-table {
  .ant-table-content {
    .ant-table-body {
      table {
        thead {
          tr {
            th {
              padding: 1rem .25rem;
            }
          }
        }

        tbody {
          tr {
            td {
              padding: .5rem .25rem;
              font-size: .875rem;

              img {
                height: 4rem;
              }

              a {
                font-size: .875rem;
                margin-right: .5rem;
                display: inline-block;
              }

              a:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
